apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: observeai
  labels:
    app: prometheus
    component: monitoring
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
spec:
  type: NodePort
  selector:
    app: prometheus  # Route traffic to pods with this label
  ports:
  - name: web
    protocol: TCP
    port: 9090          # Service port (internal)
    targetPort: 9090    # Container port
    nodePort: 30091     # External port (accessible from outside)
  sessionAffinity: ClientIP  # Stick sessions to same pod
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800  # 3 hours
